spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:employee_mgmt}
    username: ${DB_USER:postgres}
    password: "${DB_PASSWORD:Sachin@123}"
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1

server:
  port: 9090

jwt:
  secret: ${JWT_SECRET:THIS_IS_A_DEV_SECRET_PLEASE_CHANGE_32_CHARS_LONG}
  expiration-ms: 86400000
